<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.omeducation.cbscclass10board.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/App_Id"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />



        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:replace="android:theme" />


        <activity
            android:name="com.omeducation.cbscclass10board.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Notifications -->
        <service android:name="com.omeducation.cbscclass10board.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
<!--        <service android:name="com.omeducation.cbscclass10board.MyFirebaseInstanceIDService"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <activity
            android:name="com.omeducation.cbscclass10board.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.omeducation.cbscclass10board.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.omeducation.cbscclass10board.ContentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.omeducation.cbscclass10board.OpenFile"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.omeducation.cbscclass10board.FileActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.omeducation.cbscclass10board.FolderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.omeducation.cbscclass10board.TabActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.omeducation.cbscclass10board.VideoListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.omeducation.cbscclass10board.PlayVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.omeducation.cbscclass10board.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>